/* Color */
$darkPrimaryColor: #5D4037;
$lightPrimaryColor: #D7CCC8;
$primaryColor: #795548;
$text: #FFFFFF;
$primaryTextColor: #212121;
$secondaryTextColor: #757575;
$accentColor: #FFC107;
$dividerColor: #BDBDBD;
