.header {
    background-color: $darkPrimaryColor;
    width: 100%;
    height: 4.5rem;
    position: relative;
    z-index: 0;


    &__title {
        float: left;
        line-height: 1;
        margin-top: 1rem;

        @mixin atMedium {
            margin-top: .4rem;
        }

        &--main {
            font-size: 1.5rem;
            font-weight: 400;
            color: $text;

            @mixin atMedium {
                font-size: 2.5rem;
            }
        }

        &--sub {
            font-size: .6rem;
            font-weight: 300;
            color: $text;

            @mixin atMedium {
                font-size: .8rem;
            }
        }
    }

    &__search {
        float: right;
        font-size: 1.5rem;
        transform: rotate(80deg);
        margin: 1.4rem 0rem 0 0;
        color: $text;
        font-weight: 200;
        border: 0;
        background-color: transparent;
        outline: none;
        transition: all .2s ease-out;
        z-index: 10;

        &:active {
            transform: rotate(95deg) scale(1);
        }

        &:hover {
            transform: rotate(95deg) scale(1.6);
        }

        @mixin atMedium {
            margin: 1.2rem 0 0 0;
        }
    }

    &__searchbox {
        position: absolute;
        right: 0;
        top: .5rem;
        z-index: 0;

        @mixin atMedium {
            margin-top: .5rem;
            position: relative;
            float: right;
        }
    }
}