.pagination {
    display: inline;
    padding-bottom: 1rem;
    
    &:not(:last-child) {
        margin-right: 1rem;
    }

    button {
        font-weight: 300;
        color: $darkPrimaryColor;
        border: 0;
        background-color: transparent;
        outline: none;
        transition: .3s all ease-out;

        &:focus {
            transform: translateY(-3px) scale(1.2);
        }
    }

    span {
        color: $secondaryTextColor;
        font-weight: 350;
    }
    
}